<div class="container-fluid m-3">
    <div class="row">
        <nav>
            <a routerLink="/login" class="btn btn-primary mr-1"> Login </a>
            <a routerLink="/register" class="btn btn-primary"> Register </a>
        </nav>
    </div>
</div>

<table class="table table-borderd">
    <th> FirstName </th>
    <th> LastName </th>
    <th> UserName </th>
    <th> Password </th>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td></td>
    </tr>
</table>